PWIZ_IMAGE="proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:latest"
PWIZ_DOCKER_SECURITY_OPT="seccomp=unconfined"
OPENMS_IMAGE="ghcr.io/openms/openms-executables:latest"

FLASHDECONV_INI="/home/jkg/github/intact/config/flashdeconv.ini"
FLASHDECONV_THREADS="4"

MSCONVERT_PEAK_PICKING="vendor"
MSCONVERT_BINARY_ENCODING="32"
MSCONVERT_COMPRESSION="zlib"
MSCONVERT_EXTRA_FILTERS=""

MIN_MASS="5000"
MAX_MASS="200000"
MIN_CHARGE="2"
MAX_CHARGE="100"
FLASHDECONV_MS1_PPM="10"
FLASHDECONV_MIN_TRACE_LENGTH="0"
FLASHDECONV_MIN_SNR="1.0"
FLASHDECONV_MIN_COS="0.85"

FILTER_PPM="10"
FILTER_RT_MINUTES="0.5"
FILTER_MIN_INTENSITY="0"

KEEP_INTERMEDIATE="1"
CONTINUE_ON_ERROR="1"